/* Import fonts here */


/* General */
section {
    border: 1px solid black;
}

.hidden {
    display: none;
}

/* Navbar */
#nav-logo {
    width: 150px;
}

/* Hero section */
#hero {
    position: relative;
    width: 100vw;
    height: 80vh;
}

#hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

#hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 93%;   /* For mobile screens */
    z-index: -2;
}

#hero-overlay {
    position: absolute;
    left: 10%;
    bottom: 5%;
    background-color: rgba(18, 116, 141, 0.411);
    padding: 10px 20px;
    /* border-radius: 20px; */
}

/* Media Queries */

/* Tablet */
@media screen and (min-width: 768px) {
    
}