/* Import fonts here */


/* GENERAL / MULTI-PAGE */
:root {
    --bs-navbar-height: 70px;
}

body {
    margin-top: var(--bs-navbar-height)
}

dt {
    font-weight: normal;
}

/* section {
    border: 1px solid black;
} */

.hidden {
    display: none;
}

.text-green {
    color: green;
}

.text-blue {
    color: blue;
}

.text-red {
    color: red;
}

.text-gold {
    color: goldenrod;
}

.list-with-ticks {
    list-style-type: none;
    padding-left: 1.5em;
}

.list-with-ticks li::before {
    content: "✓";
    color: green;
    font-weight: bold;
    margin-right: 0.5em;
}

.included-list {
    list-style-type: none;
    /* Remove default bullets */
    padding-left: 1.2em;
    /* Add some left padding */
}

i {
    margin-right: 10px;
}

/* Navbar */
#nav-logo {
    width: 150px;
}

/* HOMEPAGE */
/* Hero section */
#hero {
    position: relative;
    width: 100vw;
    height: 80vh;
}

#hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

#hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 93%;
    /* For mobile screens */
    z-index: -2;
}

#hero-overlay {
    position: absolute;
    left: 10%;
    bottom: 5%;
    background-color: rgba(18, 116, 141, 0.411);
    padding: 10px 20px;
    /* border-radius: 20px; */
}

/* Popular Packages Section */
.package-image-container {
    position: relative;
}

.slopes-logo-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
}

/* ALL PACKAGES PAGE */
.slopes-logo-key {
    width: 115px;
}

.slopes-logo-package {
    width: 50px;
}

.flight-table th {
    font-weight: normal;
}

.flight-table td {
    padding-left: 10px;
    padding: 0px 0px 0px 10px;
}




/* Media Queries */

/* Tablet */
@media screen and (min-width: 768px) {}