/* Import fonts here - Merriweather (hero-overlay), Montserrat (headings), Cabin (general text) */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL / MULTI-PAGE */
:root {
    /* Accounting for navbar */
    --bs-navbar-height: 70px;
    scroll-padding-top: var(--bs-navbar-height);
    /* Colours */
    /* --dark-primary: #0a3866; */
    --dark-primary: #053779;
    --dark-secondary: #005078;
    --dark-tertiary: #0173ac;
    --mid-primary: #527688;
    --mid-secondary: #79c6ec;
    --light-primary: #ffffff;
    --light-secondary: #eef3fa;
    --light-tertiary: #c2cddb;
}

main {
    margin-top: var(--bs-navbar-height);
}

body {
    /* Layout */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    /* Fonts */
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h2 {
    font-size: 2.3rem;
    color: var(--dark-secondary);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

h3 {
    color: var(--dark-primary);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h4,
h5,
h6 {
    color: var(--dark-secondary);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

dt {
    font-weight: normal;
}


.hidden {
    display: none;
}

.custom-md-hidden {
    /* Removes from document model on mobile screens */
    display: none;
}

/* Background colours */
.bg-dark-primary {
    background-color: var(--dark-primary);
}

.bg-light-primary {
    background-color: var(--light-primary);
}

.bg-light-secondary {
    background-color: var(--light-secondary);
}

/* Text colours */
.text-gold {
    color: goldenrod;
}

/* Icons */
i {
    margin-right: 10px;
}



.fa-face-smile {
    color: blue;
}

.fa-face-grin-stars {
    color: red;
}

/* Lists */
.list-with-ticks {
    list-style-type: none;
    padding-left: 1.5em;
}

.list-with-ticks li::before {
    content: "✓";
    color: green;
    font-weight: bold;
    margin-right: 0.5em;
}

.included-list {
    list-style-type: none;
    /* Remove default bullets */
    padding-left: 1.2em;
    /* Add some left padding */
}

/* Buttons */
.cta-button {
    width: 160px;
    background-color: var(--dark-tertiary);
    border: var(--dark-tertiary) 1px solid;
    color: white;
}

.cta-button.disabled {
    background-color: transparent;
    border: var(--dark-tertiary) 1px solid;
    color: white;
    /* Override bootstrap default opacity (which affects fomt colour) */
    opacity: 0.9;
}

.cta-button:hover {
    background-color: var(--dark-secondary);
    border: var(--dark-tertiary) 1px solid;
    color: white;
}

.custom-button {
    background-color: var(--mid-primary);
    border: var(--mid-primary) 1px solid;
    color: white;
}

.custom-button:hover {
    background-color: var(--dark-tertiary);
    border: var(--dark-tertiary) 1px solid;
    color: white;
}

/* Navbar */
#nav-logo {
    width: 150px;
}

/* Contact section */
#contact h2 {
    color: var(--mid-secondary);
}

.social-media a {
    color: white;
    font-size: 1.5rem;
}

.social-media a:hover {
    color: var(--mid-secondary);
    font-size: 1.5rem;
}

.image-container img {
    object-fit: cover;
    height: 100%;
}


/* HOMEPAGE */
/* Hero section */
#hero {
    position: relative;
    width: 100vw;
    height: 80vh;
}

#hero-video {
    /* Don't show video on mobile devices */
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#hero-image {
    /* Show image on mobile devices */
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 93%;
    z-index: -2;
}

@keyframes fadeInOverlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#hero-overlay {
    opacity: 0;
    position: absolute;
    left: 10%;
    bottom: 5%;
    /* Make centre on mobile devices */
    right: 10%;
    color: white;
    background-color: rgba(0, 50, 90, 0.8);
    padding: 10px 20px;
    animation: fadeInOverlay 2s ease-in-out forwards;
}

#hero-overlay p {
    font-size: 1.4rem;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
    padding: 0.5rem 1rem 0 1.5rem;
}

#hero-logo {
    width: 200px;
}

/* Popular Packages Section */
.package-image-container {
    position: relative;
    /* object-fit: cover; */
    padding: 0;
}

.package-image-container img:first-child {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.slopes-logo-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
}

.recommend-container {
    min-width: 150px;
}

.icon-recommend-popular {
    width: 40px;
    margin-bottom: 5px;
}

/* About section */
.awards img {
    max-width: 95px;
}

/* Testimonials section */
.carousel .carousel-control-prev,
.carousel .carousel-control-next,
.carousel .carousel-indicators {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next,
.carousel:hover .carousel-indicators {
    opacity: 1;
}



/* ALL PACKAGES PAGE */
.slopes-logo-key {
    width: 90px;
}

.slopes-logo-package {
    width: 65px;
}

.icon-recommend-key {
    height: 60px;
}

.icon-recommend-package {
    width: 50px;
}



.img-resort {
    width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    /* Make first row fit content so no gap above second row */
    grid-template-rows: auto 1fr;
}

.grid-item-1 {
    /* background-color: yellow; */
    grid-row: 1;
    grid-column: 1;
}

.grid-item-2 {
    /* background-color: red; */
    grid-row: 2;
    grid-column: 1;
}

.grid-item-3 {
    /* background-color: blue; */
    grid-row: 3;
    grid-column: 1;
}

.flight-table th {
    font-weight: normal;
}

.flight-table td {
    padding-left: 10px;
    padding: 0px 0px 0px 10px;
}

/* INFO PAGE */
.slopes-logo-info {
    width: 80px;
}

/* BOOKING AND ENQUIRY PAGES */
.form-header {
    position: relative;
}

.form-header .bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.custom-form legend {
    color: var(--dark-secondary);
}

/* Borders for inputs */
.custom-form input,
.custom-form select,
.custom-form textarea {
    border-color: var(--light-tertiary);
}

/* Placeholder text colour for inputs and textarea */
.custom-form input::placeholder,
.custom-form textarea::placeholder {
    color: var(--mid-primary);
}

/* Placeholder text colour for date input and select */
.custom-form input, 
.custom-form select {
    color: var(--mid-primary);
}

/* Text Colour in select dropdown menus */
.custom-form option {
    color: var(--dark-secondary);
}

/* Text colour for inputs once filled in with valid value */
.custom-form select:not(:invalid),
.custom-form input:not(:invalid) {
    color: black;
}

/* Send button */
.custom-form button[type=submit] {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* MEDIA QUERIES */

/* Tablet */
@media screen and (min-width: 768px) {

    /* keeps whitespace (e.g. for bootstrap column) but is invisible */
    .custom-md-hidden {
        display: block;
        visibility: hidden;
    }

    .hotel-info .grid-container {
        grid-template-columns: 60% auto;
    }

    .grid-item-1 {
        grid-row: 1;
        grid-column: 1;
    }

    .grid-item-2 {
        grid-row: 1;
        grid-column: 2;
    }

    .grid-item-3 {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    #info-accommodation .card {
        height: 597px;
    }
    
    #info-nightlife .card {
        height: 370px;
    }

    #info-snowboarding .card {
        height: 420px;
    }

    #hero-video {
        /* Show video on tablet and larger screens */
        display: block;
    }

    #hero-image {
        /* Don't show image on larger screens (use video instead) */
        display: none;
    }    

    #hero-overlay {
        /* Fit content on mobile and wider screens */
        right: auto;
        animation-delay: 3s;
    }
}

/* Laptop */
@media screen and (min-width: 992px) {
    .grid-item-1 {
        grid-row: 1 / 3;
        grid-column: 1;
    }

    .grid-item-2 {
        grid-row: 1;
        grid-column: 2;
    }

    .grid-item-3 {
        grid-row: 2;
        grid-column: 2;
    }

    #info-accommodation .card {
        height: 610px;
    }
    
    #info-nightlife .card {
        height: 400px;
    }

    #info-snowboarding .card {
        height: 420px;
    }

    #info-slopes .info-box {
        height: 340px
    }
}

/* XL Screens */
@media screen and (min-width: 1200px) {
    .grid-item-1 {
        grid-row: 1 / 3;
        grid-column: 1;
    }

    .grid-item-2 {
        grid-row: 1;
        grid-column: 2 / 4;
    }

    .grid-item-3 {
        grid-row: 2;
        grid-column: 2 / 4;
    }

    #info-accommodation .card {
        height: 620px;
    }

    #info-nightlife .card {
        height: 470px;
    }

    #info-snowboarding .card {
        height: 415px;
    }

    /* Make popular cards same height when split into 2 columns */
    .popular-card-main {
        height: 250px;
    }
}